@use "./reset.scss";
@use "./theme.scss";

:root {
	font-family: "Poppins", sans-serif;
}

html {
	background: theme.$crust;
	color: theme.$text;
}

i {
	color: theme.$text;
}

.link {
	cursor: pointer;
	color: theme.$mauve;
	font-weight: 600;
	text-decoration: none;
	transition: opacity 0.2s ease-in-out;
	user-select: none;
	&:hover {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.6;
	}
}

.hover {
	text-decoration: none;
	cursor: pointer;
	transition:
		transform 0.2s,
		opacity 0.2s;
	animation: hover 0.2s infinite alternate;

	&:hover {
		transform: scale(1.01);
		opacity: 0.7;
	}

	&:active {
		transform: scale(0.98);
		opacity: 0.8;
	}
}
